<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img class="img1" src="https://c.tenor.com/f14xUacYc1oAAAAd/storm-world-meteorological-day.gif">
    <ion-card-title>Lençóis Paulista - SP</ion-card-title>
    <br>

    <ion-grid>
      <ion-row size="6">
        <ion-col size="2">
          <img src="https://ssl.gstatic.com/onebox/weather/64/partly_cloudy.png">
        </ion-col>
        <ion-col size="4">
          <p class="temp">22°C</p>
        </ion-col>
        <ion-col size="6">
          <div class="temp2">
            <p>Chuva: 22%</p>
             <p> Umidade: 77%</p>
              <p>Vento: 8 km/h</p>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="color:#ff6822;" class="alerta">Alerta Amarelo, Chuvas Intensas</p>
    </ion-card>
</ion-content>
