.temp{
  font-size: 20px;
}

.temp2{
  font-size: 15px;
  padding-left: 5px;
  text-align: center;
}

.alerta{
  padding-left: 10px;
  text-align: center;
}

.img1{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2.5px #000000 solid ;
}
